.pageContainer {
  margin: 50px;
}

form-container {
  margin: 50px;
}

button {
  width: 125px;
  margin: 20px;
  border-radius: 25px;
}

.pink {
  background-color: pink;

}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}

.count {
  background-color: green;
  color: white;
}
.clearcount {
  background-color: greenyellow;
}

.nameinput{
  margin-left: 20px;
}

.inputfieldContainer{
  padding: 20px;
  background-color: lightgrey;
  width: 300px;
  height: 400px;
}

.checkContainer {
margin: 20px;
}

.error-message {
  color: red;
}

.inputfieldContainer .input-error {
  background-color: red;
}

fieldset{
  margin: 20px
}

.reactform {
  width: 420px;
}

input {
  display: block;
  margin: 15px;
}